body {
    color:gray;
    font-size:10pt;
}
h1 {
    color:navy;
    
    font-size:16pt;
    margin-top:-20px
    margin-bottom:0px;
    text-align:left;
}
p {
    color:navy;
    font-size:16pt;
    margin:10px;
}
a {
    color:navy;
    text-decoration: none;
}
table {
    margin:10px;
    font-size:14pt;
}
table tr th {
    background-color:navy;
    color:white;
    padding:2px 10px;
    border-width:2px;
}    
table tr td {
    background-color:#eee;
    color:#666;
    padding:2px 10px;
    border-width:2px;
}